 body{
    width: 100%;
    height: 100%;
    font-size: 20px;
    /* font-family: 'Lora' !important; */
    /* font-family: "Roboto", sans-serif; */
    /* font-weight: normal;
    background-color:  var(--bs-body-bg); */
    margin: 0;
    /* font-family: var(--bs-body-font-family); */
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --color-primary: #333;
    --color-second:#6ebfc2;
    --color-third: #D9B296;
    --color-four: #CD4833;
    --color-five: #A91E15;
    --color-six: #413A34;
    --color-white: white;
}




.d_text_gray {
    color: gray;
}

.text_active {
    font-weight: 700px;
    font-size: 20px !important;
    color: var(--color-four);
}

a {
    text-decoration: none !important;

}

a:hover {
    text-decoration: none;
}

.d_divider {
    font-weight: 700;
    opacity: 0.35;
    margin: 0px 6px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* n_top_Navigation */
.n_top_Navigation {
    background-color:  #333333 !important;
    border-bottom: 1px solid gray;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.n_top_Navigation .container-fluid {
    padding: 0;
}
.n_top_Navigation .navbar{
    background-color:  #333333 !important;
    margin: auto;
    max-width: 1320px;
    padding: 6px 0;
}
.n_top_Navigation .navbar li a{
    color: #fff !important;
}
.n_top_Navigation .navbar li a:hover{
    color: #c89979 !important;
    border-bottom: solid 1px #C89979 !important;
}
/*  */
.n_top_Navigation .ml-auto, .mx-auto {
    /* margin-left: auto!important; */
    margin: 0px auto;
}
.n_top_Navigation .n_input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    /* padding: .375rem .75rem; */
    /* margin-bottom: 0; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color:  #c89979;
    /* border: 1px solid #ced4da; */
    border-radius: 0 .25rem .25rem 0;
}
.n_top_Navigation .btn-outline-success {
    color: #ffffff;
    background-color: #c89979;
    /* background-image: none; */
    /* border-color: #28a745; */
}
.n_top_Navigation .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    padding: 4px 20px;
    line-height: 1.5;
    border-radius: 0 0.25rem 0.25rem 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 0 250px;
    overflow: hidden;
    height: 40px;
}



/* cart  */
.n_cartt {
    background-color: #333333;
    height: 50px;
    width: 130px;
    display: block;
    margin: 15px 25px 15px auto;
    padding: 10px 8px;
    font-size: 12px;
    border: 1px solid #c89979;
}

.n_cartt .n_color-white-bold {
    color: white;
    font-weight: bold;
}
.n_cart_text {
    width: 77px;
    float: right;
    margin: 5px 0px 0px;
}




/* n_Navigation */
.n_Navigation {
    background-color:  #333333 !important;
    /* margin: auto; */
}
.n_Navigation_ctn {
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    /* box-sizing: border-box; */
    /* display: flex; */
    justify-content: center;
}
.n_Navigation ul.nav.justify-content-center {
    padding: 17px 0;
    margin: auto;
    width: 70%;
}
li.nav-item {
    padding: 0 52px;
}
.n_Navigation a.nav-link { 
    display: block;
    padding: 0;
    color: white;
    /* font-size: 12.8px; */
    font-weight: bold;
    letter-spacing: .02em;
    text-transform: uppercase;
    font-size:  15.9px;
    /* transitio3n: 4s; */
    line-height: 20px;
}
.n_Navigation li:hover > a {
    border-bottom: solid 1px #C89979 !important;
    color:  #C89979 !important;
}

.n_Navigation a.nav-link.active {
    padding: 0 ;
    border-bottom: 1px solid;
    color: #c89979;
}





.n_mainTable {
    max-width: 1140px;
    margin: auto;
}

.n_frmmainTable {
    max-width: 1320px;
    margin: auto;
    padding:  0;
}
.n_frmmainTable .table thead th {
    vertical-align: bottom;
    border-bottom: 4px solid #dee2e6;
    border-top: none;
}
.n_breadcrumb {
    padding: 20px 8px;
    height: 80px;
    border: none;
    /* background: antiquewhite; */
}

.n_breadcrumb a {
    color: gray;
    text-decoration: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .02em;
    text-transform: uppercase;
    -webkit-text-decoration-skip: objects;
}



ul {
    list-style: none;
    margin-bottom: 0px
}

.button {
    display: inline-block;
    background:#9d7255;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.button a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px
}

.button:hover {
    opacity: 0.8
}

.cart_section {
    width: 100%;
    padding-bottom: 111px
}

.cart_title {
    font-size: 22px;
    font-weight: 500;
}

.cart_items {
    margin-top: 8px;
}

.cart_list {
    padding-left: 0px;
}

.cart_item {
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    /* padding-right: 46px; */
}

.cart_item_image {
    /* width: 100px; */
    height: 100px;
    width:  100px;
    float: left;
}

.cart_item_image img {
    max-width: 100%;
    max-height: 100%;
}

.cart_item_info {
    width: calc(100% - 133px);
    float: left;
    padding-top: 15px;
}

.cart_item_name {
    margin-left: 20px;
    width: 400px;
}

.cart_item_title {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    float: left;
}

.cart_item_text {
    font-size: 18px;
    margin-top: 35px
}

.cart_item_text span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 11px;
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px)
}

.cart_item_price {
    text-align: right
}

.cart_item_total {
    text-align: right
}

.order_total {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-right: 46px;
    padding-left: 15px;
    background-color: #fff
}

.order_total_title {
    display: inline-block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 60px
}

.order_total_amount {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 26px;
    line-height: 60px
}

.cart_buttons {
    margin-top: 40px;
    text-align: right
}
button.button.cart_button_clear {
    display: inline-block;
    border: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: rgb(0 0 0);
    border: solid 1px var(--color-four);
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    margin-right: 26px;
    background-color: #cd483340 ;
    text-transform: uppercase;
}
button.button.cart_button_checkout {
    /* text-decoration: line-through; */
    text-transform: uppercase;
}

.cart_button_clear:hover {
    border-color: #0e8ce4;
    color: #0e8ce4
}

.cart_button_checkout {
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    background-color: var(--color-four) !important;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    vertical-align: top;
}

.cart_button_checkout:hover{
    background-color: var(--color-five) !important;
    opacity: 1 !important;
}
.close {
    float: right;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    margin: 0 0 0 30px;
}

span#quantity-field {
    display: flex;
}

.n_mainTable ol.breadcrumb {
    background: white;
    padding: 0;
    margin: 0;
}
.n_mainTable button#down {
    border: 1px solid #ececec;
    font-size: medium;
    background-color: var(--color-four);
    color: white;
    width: 25px;
    /* height: 35px; */
    font-weight: bold;
    line-height: 2px;
}
.n_mainTable input#quantity {
    width: 40px;
    text-align: center;
    font-size: medium;
    border: 1px soi;
    border: 1px solid #ececec;
    line-height: 2px;
}
.n_mainTable button#up {
    width: 25px;
    text-align: center;
    font-size: medium;
    border: 1px solid #ececec;
    font-size: medium;
    background-color: #c89979;
    color: white;
    font-weight: bold;
    line-height: 1px;
}
.breadcrumb-item.active {
    color: #6c757d;
    margin: -5px 0;
    padding: 10ppx;
}









/* foooter */
.n_footer {
    background-color: #333333;
    width: 100%;
    margin-top: 80px;
}

.n_footer ul {
    padding-top: 0 !important;
}

.n_footer li {
    padding: 0;
}
.n_footer-flex {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}
.n_footer-text{
    width: 240px;
    line-height: 70px;
    margin-bottom: 0 !important;    
}
/* .n_footer .text-muted {
    color: #ffffff!important;
} */
.n_footer-logo{
    flex: 3;
    height: 70px;
    display: flex;
    justify-content: center;
}
.n_footer-logo img{
    height: 70px;   
    opacity: 0.9;
}
.n_footer-social{
    list-style: none;
    display: flex;
    line-height: 70px;
    flex: 1;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

.n_footer .n_footer-social li {
    width: 15%;
    margin-left: 20px;
}

.n_footer .n_footer-social li a {
    font-size: 25px;
}

/* .n_footer .ms-3 {
    width: 15%;
} */
/* .n_footer a.nav-link.px-2.text-white {
    color: #ffffff;
    font-size: 15px;
    /* font-weight: 700;
    letter-spacing: .02em;
    text-transform: uppercase; 
} */
/* .n_footer .fab {
    font-family: Font Awesome\ 5 Brands;
    color: white;
} */
.n_footer .nav-item:hover a{
    color: var(--color-four) !important;
}   

.n_footer .fa-facebook:hover{
    color: #3A589D;
}        
.n_footer .fa-instagram:hover{
    color: #CF005E;
} 
.n_footer .fa-twitter:hover{
    color: #2478BA; 
}

.opacity {
    opacity: 0.5;
}

.n_footer .container {
    position: relative;
    max-width: 1230px !important;
}


/* dat */

/* header */


.header{
    background-color: var(--color-primary);
    /* background: radial-gradient( var(--color-second), var(--color-primary));  */
}

.d_header-top
{
    height: 100px;
    max-width: 1230px;
    margin: auto;
}

.d_header-top-content {
    width: 1320px;
    height: 100%;
    margin: auto;
}

.d_header-top-left {
    width: 20%;
    height: 100%;
    float: left;
    padding: 10px 0px 0 50px;
}

.d_header-top-center {
    width: 67%;
    height: 100%;
    float: left;
}

.d_header-top-right {
    width: 13%;
    height: 100%;
    float: left;
}

.d_padding-center {
    padding: 15px 0px;
}

.d_btn-search {
    background-color: var(--color-four) !important;
    margin-left: -5px;
    width: 90px;
}   
.d_btn-search:hover {
    background-color: var(--color-five) !important;
}
.form-control {
    width: 60% !important;
    display: inline-block !important;
    vertical-align: middle ;
}

.form-control:focus
{
    box-shadow: none !important;
}

.d_flex-box {
    width: 80%;
    margin-top: 25px;
    margin-left: 160px;
    display: inline-flex;
}

.d_cart {
    height: 50px;
    width: 130px;
    display: block;
    margin: 25px auto;
    border: 1px solid var(--color-white);
    padding: 10px 8px;
}

.d_cart_text {
    width: 76px;
    float: right;
    margin: 5px 0px 0px;
    font-size: 13px;
}

.d_cart:hover
{
    color: var(--color-second) ;
    border-color: var(--color-second);
}


/* menu */

.d_color-white-bold {
    color: var(--color-white);
    font-weight: bold;
}

.d_nav-bottom {
    height: 55px;
    background-color: var(--color-primary);
    /* background: linear-gradient(var(--color-primary),var(--color-second)); */
    /* background: radial-gradient(var(--color-second),var(--color-primary)); */
    border-top: 0.5px solid gray;
}
.d_menu_main li a:hover {
    color: var(--color-four);
}
.d_menu {
    width: 1320px;
    height: 100%;
    margin: auto;
    padding: 0px 15px;
}

.d_menu_content {
    height: 100%;
    width: 100%;
}

.is-sticky {
    animation: test ease-in 1s forwards ;
}

@keyframes test {
     from {
        opacity: 0;
    }
    to 
    {
        opacity: 1;
    } 
}


.d_menu_main {
    margin: auto;
    height: 100%;
    width: 70%;
    list-style: none;   
    padding: 0px;
}

.d_menu_main li {
    float: left;
    height: 100%;
    width: 20%;
    font-size: 16px;
    text-align: center;
    padding: 13px 0px;
}

.d_active{
    color: var(--color-four);
}


.sub-menu:hover .sub__menu{
    top: 54px;
    opacity: 1;
    visibility: visible;
}

.sub__menu{
    /* background-color: rgba(0,0,0,0.7); */
    background-color: rgb(255,255,255,1);
    width: 80%; 
    position: absolute;
    left: 150px;
    top: 64px;
    opacity: 0;
    padding: 30px; 
    border: solid 1px #d3d3d3;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    transition: .3s ease;
    visibility: hidden;
}



.sub__menu-column {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
}

.sub__menu-column-lagre {
    flex-basis: 40%;
}

.sub__menu-slide {
    height: 100%;
    width: 100%;
}

.sub__menu-column h6 {
    color: black;
    min-width: 200px;
    font-size: 22px;
}

.sub__menu-column a {
    font-size: 18px;
    transition: .3s ease;
}

.sub__menu-column a:hover {
    color: var(--color-five) !important;
    margin-left: 8px;
}

.flickity-button {
    background: transparent !important; 
     display: none !important;
}

.sub__menu-column .flickity-button {
    background: transparent !important; 
    display: none !important;
}


/* shop-title */

.d_shop-title{
    height: 80px;
    width: 100%;
    padding: 20px 8px ;
}

.d_title-row{
    display: flex;
    /* width: 30%; */
    line-height: 40px;
    
}

.d_title-row a {
    font-size: 18px;
}

.d_title-row a:hover{
    color: var(--color-five);
}

.d_search {
    position: relative;
}

.search_list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
    position: absolute;
    left: 162px;
    width: 47.5%;
    top: 75px;
    z-index: 30;
    height: 200px;
    visibility: hidden;
    opacity: 0;
    overflow: scroll;
}

.search_list li {
    background-color: white;
    padding: 5px;
    height: 70px;
    margin-bottom: 5px;
}

.search_list li:hover {
    background-color: #fafafa;
}
.search_list li:hover h6 {
    color: var(--color-five);
}

.search_list-img {
    width: 60px;
    height: 60px;
    margin-right: 5px;
}

.search_list-text {
    width: 100%;
}

.search_list-text h6{
    margin: 0 0 2px;
    font-size: 16px;
    max-height: 70%;
    color: var(--color-primary);
}

.search_list-text p{
    margin: 0;
    font-size: 15px;
    max-height: 30%;
    color: var(--color-four);
    list-style: none;
}